.thumbnail img {
  width: 150px;
  max-width: 150px;
  height: 180px;
  max-height: 180px;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}


#par1 p {
  overflow: visible;
  text-align: justify;
  white-space: pre-wrap;
  
}


